# Backend API URL (Microservice)
NUXT_PUBLIC_API_URL=http://localhost:3000

# E-Learning Platform URL (Microservice)
NUXT_PUBLIC_ELEARNING_URL=http://localhost:4321

# WhatsApp Contact Number
NUXT_PUBLIC_WHATSAPP_PHONE=6281234567890
